<header class="site-header">
   <button aria-expanded="false" aria-label="open about me section" id="intro-toggle" class="nav nav-icon">
      <span></span> 
      <span class="intro-state">Open About Me Section</span>
   </button>
   <h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>
<div class="intro-overlay"  aria-hidden="true" aria-labelledby="intro-toggle">
   <div class="intro-content">
      <p class="intro-copy">27 Exposures is the online archive of a project I undertook between April 16th 2016 - April 16th 2017 wherein I used one single use camera every month with the hope of documenting the year before I turned 25.
      </p>
      <p class="contact-details"><a href=https: "https:www.twitter.com/heyitsvim">Twitter</a> / <a href="https:www.instagram.com/viiiimbai">Instagram</a> / <a href="https:www.github.com/vdzimwasha">Github</a></p>
   </div>
</div>