  <header class="site-header">
  <h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    <div>
      <div class="intro-overlay">
        <div class="intro-content">
          <p class="intro-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione dolores, officia corporis nobis laboriosam numquam excepturi iste, suscipit dolor fugiat repudiandae reiciendis, voluptatum ducimus quasi laudantium delectus, pariatur consectetur
            ea. </p>
          <p class="contact-details"><a href=https: "https:www.twitter.com/heyitsvim">Twitter</a> / <a href="">Instagram</a> / <a href="">Github</a></p>
        </div>
      </div>
      <button class="nav nav-icon">
        <span></span> <p hidden> Twenty seven exposures</p>
</button>
    </div>
  </header>