<header class="site-header">
   <button aria-expanded="false" aria-label="open about me section" id="intro-toggle" class="nav nav-icon">
      <span></span> 
      <span class="intro-state">Open About Me Section</span>
   </button>
   <h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>
<div class="intro-overlay"  aria-hidden="true" aria-labelledby="intro-toggle">
   <div class="intro-content">
      <p class="intro-copy lead">Hello! My name is Vimbai and 27 Exposures is my photography journal made up of photographs I took between April 2016 - April 2017 on single use cameras with the hope of documenting the year leading up to my 25th birthday. </p>
      <p class="contact-details"><a href="https://www.twitter.com/heyitsvim">Twitter</a> <span aria-hidden="true">/</span> <a href="https://www.instagram.com/viiiimbai">Instagram</a> <span aria-hidden="true">/</span> <a href="https://www.github.com/vdzimwasha">Github</a></p>
   </div>
</div>