
$white: #fff;
$black: #000;
$primary-color: mistyrose;
$secondary-color: coral;
$font: 'Work Sans',serif;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}